@import '~antd/dist/antd.css';

.landingHeader {

  /* design */
  background-color: whitesmoke;

  /* layout */
  width: 100vw;
  height: 100px;
  display: inline-flex;
}

.landingTopMenu {

  /* design */
  font-size: 18px;
  color: navy;
  background-color: transparent;

  /* layout */
  width: 200px;
  float: right;
  margin-left: auto;
  position: 'relative';
  display: 'flex';
}

/* Remove hover effects on Menu */
.ant-menu-horizontal, .ant-menu-item::after, .ant-menu-submenu::after {
  border: none !important;
}

/* Vertically align menu items */
.ant-menu-item {
  vertical-align: middle;
  line-height: 100px;
}