
.side-bar-component {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.side-bar-component .side-bar-items {
    width: 100%;
    height: auto;
    padding-left: 30%;
}

.side-bar-component a {
    display: flex;
    align-items: center;
}

.inactive {
    height: 40px;
    width: 40px;
    background-color: #3C5B66;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 50px;
}

.active {
    height: 40px;
    width: 40px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 50px;
}

.text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .side-bar-component .side-bar-items {
        padding-left: 10%;
    }
}




